.container {
    width: 100%;
    height: 100%;
    background: hsl(var(--card));
    border-right: 1px solid hsl(var(--border));
    display: flex;
    flex-direction: column;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.emptyState {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--muted-foreground));
    background: hsl(var(--muted));
}